/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.header-actions {
  display: flex;
  gap: var(--spacing-sm);
}

h1 {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -1px;
}

.icon-button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 20px;
}

.icon-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(-10deg);
}

.app-container {
  display: flex;
  flex-direction: column;
  /*   gap: var(--spacing-lg); */
  height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}